@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --primary : rgb(253, 164, 33);
    --grey:rgb(82, 87, 95);
    --tertiary : rgb(11, 12, 12);
    --accent : rgb(254, 251, 248);
}
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
}
body{
    font-size: 1rem;
    background-color: var(--accent);
    height: 100vh;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--secondary);
}
img{
    max-width: 100%;
    display: block;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}

/* Header Styles */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-inline: 1em;
    overflow-x: clip;
}
.logo{
    width: 4.1rem;
}
header nav{
    position: absolute;
    top: 0;
    right: -20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px var(--tertiary);
    width: 12rem;
    height: 100vh;
    background-color: var(--grey);
    transition: ease 1000ms;
}
.nav-slide_effect{
    right: 0 !important;
}
header nav a{
    font-size: 1rem;
    font-weight: 600;
    margin: 1em 0;
    cursor: pointer;
    color: var(--accent);
}
header nav a:hover{
    color: var(--tertiary);
}
#bar,#ex{
    color: var(--tertiary);
    font-size: 1.1rem;
}
#ex{
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    transition:  ease 1000ms;
    color: var(--accent);
}

/* Main section */
h1,h3{
    color: var(--tertiary);
}
.hero{
    text-align: center;
    margin-top: 1rem;
}
.hero h1{
   font-size: 1.9rem;
}

/* section styling */
main{
    padding-bottom: 2rem;
}
section{
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
    place-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
section div{
    max-width: 23.75rem;
    width: 100%;
    height: 14rem;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--tertiary);
    /* box-shadow: 0 2px 7px var(--tertiary); */

    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 8px;
}


@media(width > 500px){

    #bar,#ex{
        display: none;
    }
    header{
        width: 90%;
        max-width: 1200px;
        margin-inline: auto;
    }
    header nav{
        position: static;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: none;
        width: 38%;
        height: auto;
        background-color: var(--accent);
        transition: none;
    }
    header nav a{
        color: var(--tertiary);
    }
    header nav a:hover{
        color: var(--grey);
    }

    /* Main section */
    .hero h1{
        font-size: 2.2rem;
    }
    .hero h3{
        font-size: 1.24rem;
    }
    section{
        margin-top: 4rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 14rem);
        gap: 2rem;
        margin-inline: auto;
        justify-content: center;
    }
}
@media(width > 1020px){
    .logo{
        width: 4.8rem;
    }
    header nav{
        
        width: 34%;
       
    }
    /* Main section */
    .hero h1{
        font-size: 2.5rem;
    }
    section{
        grid-template-columns: repeat(3, 1fr);
        place-items: start;
    }
    section > div:nth-child(4){
        grid-column: 1/-1;
        max-width: none;
        width: 100%;
    }
}
